@tailwind base;
@tailwind components;
@tailwind utilities;
/* please do not change this daisyui plugin syntax*/
@plugin "daisyui" {
	themes: all;
  }

/* @layer base {
	* {
		box-sizing: border-box;
	}
	
	body {
		margin: 0;
		padding: 0;
		font-family: system-ui, -apple-system, sans-serif;
	}
} */
